layout: index
subtitle: Component Based UI framework
description: Aura is a component based UI framework to build fast and secure mobile and web apps.
---
.intro-wrap
  .outer
    ul
      li.intro-feature-wrap
        .intro-feature#intro-feature-fast
          h3.intro-feature-title Performance
          p.intro-feature-desc Aura uses a stateful client and stateless server architecture that relies on JavaScript on the client-side to manage UI component metadata and application data.
      li.intro-feature-wrap
        .intro-feature#intro-feature-plugin
          h3.intro-feature-title Model-View-Controller 
          p.intro-feature-desc Aura markup represents the view and defines the component's public shape via attributes and events. Components have models and controllers to represent the data set and logic respectively.     
      li.intro-feature-wrap
        .intro-feature#intro-feature-markdown
          h3.intro-feature-title Rich Component Set
          p.intro-feature-desc Aura comes with a rich and extensible component set to kick start building apps. 
      li.intro-feature-wrap
        .intro-feature#intro-feature-deploy
          h3.intro-feature-title Event-driven architecture
          p.intro-feature-desc Aura uses an event-driven architecture for better decoupling between components. Any component can subscribe to an application event, or to a component event they can see.


  .outer
    #intro-btn-wrap
      a#intro-btn(href="/auratutorials/tutorials") Get Started