<div id="banner">
  <div class="outer">
    <div class="inner">
      <h4 id="banner-title" style="text-align:center">Aura Tutorials - Learn To Build Aura Apps Lightning Fast!</h4>
      <div id="intro-cmd-wrap">
      <div class="outer">
    <div class="inner">
<pre><code>                &lt;aura:application&gt;
                    &lt;aura:topBarComponent /&gt;
                    &lt;aura:sidebarComponent /&gt;
                    &lt;aura:detailsComponent /&gt;
                &lt;/aura:application&gt;
</code></pre>
</div>
  </div>
      </div>
     <div class="outer">
    <div class="inner">
      <div id="intro-btn-wrap"><a id="intro-btn" href="/auratutorials/tutorials/">Get Started</a></div>
      </div></div>
    </div>
  </div>

  <%- page.content %>
